@model CNPM_DOAN.Models.MUCTIEU

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MUCTIEU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenMucTieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMucTieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGUOIDUNG.TenNguoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGUOIDUNG.TenNguoiDung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDMucTieu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
